/* 全站级公用样式 */
/* 清除浮动 */
.clearfix:after,.wrap:after,.cwrap:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
.clearfix,.wrap,.cwrap{zoom:1}/* for IE6 IE7 */
/* 空标签清除法 */
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

/* 要注意表单元素并不继承父级 font 的问题 根据自身需求设置 这里可以注意下建议在使用表单元素的时候再定义 */
body{font:12px/1.5 Tahoma, Arial,\5b8b\4f53;}
button,input,select,textarea{font:12px/1.5 Tahoma, Arial,\5b8b\4f53;}
blockquote,pre{word-wrap:break-word;/*white-space:pre-wrap;会引起空白行*/}
/* 如果将font-family中的第一个字体设置为Tahoma，则可以完美的实现(type="checkbox",type="radio")对齐(Verdana等字体也可以)。而且在FF3.5/IE6/IE7/IE8和Chrome中均显示正常。 */

/* 使Chrome支持12px以下的字体 */
.text-size{-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
/* 两端对齐 */
.text-justify{text-align:justify;text-justify:inter-ideograph;}
/* 半透明 */
.opacity {opacity:.5;filter:alpha(opacity=50);}
/* 文本过长变成省略号，需要定义宽度 */
.text-ell{display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
/* css3属性 */
.css3_shadow{transition:all 1s ease-out 0s;border-radius:5px;box-shadow:0 0px 4px rgba(206, 201, 170, 0.8);}
.css3_shadow:hover{box-shadow:0 0px 5px rgba(206, 201, 170, 1);}

/* 定义全站级统一样式 */
/*a:link{color:#05a}a:visited{color:#7a94ae}a:hover{color:#f00}.view_more{color:#06c;padding:0 2px;}*/
.yahei{font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1","黑体"}

/* 以下是模块化开发属性——模块化组合样式 
------------------------------------------------------------ */
/* 设置内联, 减少浮动带来的bug */
.fl,.fr{display:inline}.fl{float:left;}.fr{float:right}
/* 块状盒模型居中及内容居中 */
bc{margin-left:auto;margin-right:auto;}.tc{text-align:center}

/* 组合样式 */
.f12{font-size:12px}.f14{font-size:14px}.f16{font-size:16px}.f18{font-size:18px}.f22{font-size:22px}.f24{font-size:24px}
.lh18{line-height:18px}.lh20{line-height:20px}.lh22{line-height:22px}.lh24{line-height:24px}

.mt10{margin-top:10px}.mt20{margin-top:20px}.mb10{margin-bottom:10px}.mb20{margin-bottom:20px}
.ml10{margin-left:10px}.mr10{margin-right:10px}
.pd10{padding:10px}.pt10{padding-top:10px}.pb10{padding-bottom:10px}.plr10{padding-left:10px;padding-right:10px}

.wrap{width:980px; margin-left:auto; margin-right:auto}
.cwrap{padding:8px 8px 0;margin-left:auto;margin-right:auto; background:white;}

/*关于定位*/

/* 这条分割线以上的属性会提取到全站级公用样式 common.css中
==================================================================================================== */

/*<!--以下修复IE6使之支持png透明(必须放到html页面中)，可自定义设置标签或class -->
<!--[if ie 6]>
<script src="http://pic.lvmama.com/js/zt/DD_belatedPNG.js"></script> 
<script>DD_belatedPNG.fix('.ie6png');</script>
<![endif]-->
*/ 

/* = 关于一下css调试设置的方法

* html {} for IE 6及以下版本 
*:first-child+html {} for IE 7 only 
*:first-child+html {} for IE 7及以下版本 
* html {} html>body {} for IE 7以及标准浏览器 
html:first-child {} for Opera 9及以下版本

*:ie6-7 
_:ie6 
\0:ie8-9 
\9:ie6-9 
!important: ff、ie6-9 
------------------------------------------------------------ */
/* =扩展属性
:<filter>+	仅IE支持
<filter>:要使用的滤镜效果。多个滤镜之间用空格隔开。
	{filter:alpha(opacity=50);}设置透明度	（其它高级浏览器的实现参阅opacity）
	div{filter:alpha(opacity=50);} /* for IE8 and earlier 	实现50%的透明度，此2段代码的效果相同
	div{opacity:.5;} /* for IE9 and other browsers   	    opacity  IE6,7,8不支持,请使用filter属性
关系选择符	|包含选择符(E F)
			|子选择符(E>F)相邻选择符(E+F)兄弟选择符(E~F) 仅IE6不支持

属性选择符 -> E[att] 具有att属性的E元素... 仅IE6不支持
/* 条件Hack
	<!--[if <keywords>? IE <version>?]>
	HTML代码块
	<![endif]-->
  if条件共包含6种选择方式：是否!、大于gt、大于或等于gte、小于lt、小于或等于lte、非指定版本
  (关于特殊字符<:&lt >:&gt ":&quot &:&amp)
  <keywords>									
  <version> 目前的常用IE版本为6.0及以上
/* 选择符级Hack *** 选择不同的浏览器及版本,尽可能减少对CSS Hack的使用。Hack有风险，使用需谨慎 
  通常如未作特别说明，本文档所有的代码和示例的默认运行环境都为!!标准模式!!。以下下简单列举几个
	* html .test{color:#090;}       /* For IE6 and earlier 
	* + html .test{color:#ff0;}     /* For IE7 
	.test:lang(zh-cn){color:#f00;}  /* For IE8+ and not IE 
	.test:nth-child(1){color:#0ff;} /* For IE9+ and not IE /*	IE都能识别*，但FF不识别
/*!important 
  IE6及以下浏览器有个比较显式的支持问题存在，!important并不覆盖掉在同一条样式的后面的规则,但是在两条样式中时是起作用的！！！
/* 属性Hack
  如想同一段文字在IE6,7,8显示为不同颜色，可这样写：
.test{
	color:#c30;          /* For Firefox 
	[;color:#ddd;];      /* For webkit(Chrome and Safari) 
	color:#090\0;        /* For Opera 
	color:#00f\9;        /* For IE8+ 
	*color:#f00;         /* For IE7 
	_color:#ff0;         /* For IE6 
}
/* radius 圆角 
	border-radius:[<length>|<percentage> ]{1,4}[/[<length>|<percentage>]{1,4}] IE6,7,8不支持
	.test{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
/* box-shadow  阴影设置IE6,7,8不支持
	box-shadow:none | <shadow> [ , <shadow> ]*
	<shadow> = inset? && [ <length>{2,4} && <color>? ]
	none： 无阴影(默认值) 
  <length>①：第1个长度值用来设置对象的阴影水平偏移值。可以为负值 
  <length>②：第2个长度值用来设置对象的阴影垂直偏移值。可以为负值 
  <length>③：如果提供了第3个长度值则用来设置对象的阴影模糊值。不允许负值 
  <length>④：如果提供了第4个长度值则用来设置对象的阴影外延值。不允许负值 
  <color>： 设置对象的阴影的颜色。请参阅颜色值 
  inset： 设置对象的阴影类型为内阴影。该值为空时，则对象的阴影类型为外阴影 
/* text-shadow 设置或检索对象中文本的文字是否有阴影及模糊效果
	text-shadow:none|<shadow>[,<shadow>]*
	<shadow> = <length>{2,3} && <color>?
  <length>①： 第1个长度值用来设置对象的阴影水平偏移值。可以为负值 
  <length>②： 第2个长度值用来设置对象的阴影垂直偏移值。可以为负值 
  <length>③： 如果提供了第3个长度值则用来设置对象的阴影模糊值。不允许负值 
/* calc() 用于动态计算长度值 Webkit(Chrome/Safari)  Presto(Opera)  IE6,7,8不支持 
  任何长度值都可以使用calc()函数进行计算。 calc()函数支持+, -, *, /, mod运算
	Gecko(Firefox) -moz-calc() 
	Trident(IE) calc() 	/* IE9 
	.test{width:-moz-calc(100%-50px);width:calc(100%-50px);background:#eee;}
 Firefox浏览器中使用"height: 100%"会固定其高度，而不是自动延伸成100%的高度，这个在IE浏览器中非常非常正常的一个CSS定义，到Firefox浏览器中就会有问题，不过为了兼容，总得研究研究再研究！这个"height: 100%"就象padding一样，要慎用。^_^此处已经解决，如上html,body处设置^_^
 
DIV高度自适应-----CSS布局中最小高度（min-height）的妙用(兼容IE,FF) 以下待验证
{height:auto !important;height:600px; min-height:600px;} 
IE6 不支持min-height属性，但它却认为height就是最小高度。/* 所有浏览器 
#container {min-height:200px; height:auto !important; height:200px;}
 </style> <!--[if IE 6]> <style type="text/css"> #wrapper { width: expression((m=document.documentElement.clientWidth-10)+'px'); height: expression((m=document.documentElement.clientHeight-10)+'px'); } </style> <![endif]-->
 Overflow Bug

在IE6/7中，overflow无法正确的隐藏有相对定位position:relative;的子元素：
解决方法就是给外包容器 也加上position:relative;

在IE6、IE7、IE8下，若浮动元素紧邻绝对定位元素的时候并且浮动元素设置了宽度，这样就会导致绝对定位元素"神秘失踪"。触发了IE的haslayout，解决方法就是取消这两个元素直接相邻
------------------------------------------------------------ */